.arrow {
    font-size: 30px;

    align-items: center;
    justify-content: center;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.herotext {
    line-height: 10px;
}

@media screen and (min-width: 1200px) {
    
}