.arrow {
    font-size: 36px;
    margin-top: 10px;
    text-align: center;

    animation: MoveUpDown 3s linear infinite;
    left: 0;
    bottom: 0;
}

.herotext {
    margin-top: 35px;
    line-height: 10px;
    text-align: center;
}

.socialicons {
    text-align: center;

    margin-top: 15px;
    font-size: 22px;
}

@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }

@media (max-height: 667px) {
    .herotext {
        margin-top: 5px;
    }
    
    .socialicons {
        margin-top: 15px;
    }

    .arrow {
        margin-top: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .socialicons {
        flex-direction: column;

        font-size: 2rem;
    }

    .arrow {
        text-align: initial;

        margin-top: 5px;
        margin-left: 30px;
    }
}
