.arrow {
    font-size: 36px;
    margin-top: 50px;
    text-align: center;

    animation: MoveUpDown 3s linear infinite;
    left: 0;
    bottom: 0;
}

.herotext {
    margin-top: 65px;
    line-height: 10px;
    text-align: center;
}

.socialicons {
    text-align: center;
    position: relative;

    margin-top: -105px;
    font-size: 22px;
}

@keyframes MoveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px);
    }
  }

@media (max-height: 667px) {
    .socialicons {
        margin-top: -105px;
    }

    .arrow {
        margin-top: 40px;
    }
}

@media screen and (min-width: 1200px) {
    div.socialicons>* {
        display: block;
      }

    .herotext {
        margin-top: 300px;
        margin-left: 40px;

        text-align: initial;
    }

    .socialicons {
        flex-direction: column;

        margin-top: 260px;
        margin-left: 65pc;
        font-size: 2rem;
    }

    .arrow {
        text-align: center;

        margin-top: 105px;
        margin-left: 30px;
    }
}
