.picture {
    width: 300px;
    height: 300px;

    border-radius: 15px;

    display: flex;

    flex-grow: 0;

    margin: 0 auto;
    margin-top: 4.5pc;
    align-items: center;
    justify-content: center;
}

@media screen and (max-height: 667px) {
    .picture {
        margin-top: 1.5pc;
    }
}

@media screen and (min-width: 1200px) {
    .picture {
        width: 420px;
        height: 420px;
        margin: unset;

        align-items: initial;
        justify-content: initial;

        margin-left: 60px;
        margin-top: 150px;
    }
}