.picture {
    width: 300px;
    height: 300px;

    border-radius: 15px;

    display: flex;
    margin-top: 3pc;

    flex-grow: 0
}

@media (min-height: 667px) {
    .picture {
        margin-top: 2pc;
    }
}

@media screen and (min-width: 1200px) {}