.navbar {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 18px;
}

button {
    height: 39px;

    position: inherit;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;

    line-height: 39px;
    color: #000000;

    background: none;
    border: 50px;

    transition: 500ms;
}

button:hover{
    color: #585852;
    transition: 500ms;
}

@media (max-height: 667px) {
    .navbar {

    }

    button {}
}

@media (min-width: 1200px) {
    .navbar {
        justify-content: initial;
        align-items: initial;
    }

    button {}
}